doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    script(src='/vendor/jquery-2.1.4.js')
    script(src='/vendor/bootstrap.js')
  body
    block content
